.weapons-page-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.weapon-display {
    padding: 0;
    background-color: #104941;
    border: 1px #16E5B4 solid;
}

.weapon-display:hover {
    background-color: #177266;
}

.weapon-display .weapon-display-name {
    margin: 0;
}

.weapon-display img {
    height: 5rem;
    margin-bottom: 0.5em;
}

.skin-display-name {
    margin: 0.5em 0 0.5em 0;
}

@media (max-width: 35em) {
    main {
        padding: 5em 1.5em 0 1.5em;
    }

    .weapons-page-grid {
        grid-template-columns: 1fr;
    }

    .weapon-display img {
        height: 4rem;
        margin-bottom: 0.5em;
    }
}